Qrob_PM1N_CDS_aa_20161004.fa.gz
Qrob_PM1N_CDS_nt_20161004.fa.gz
12_21_tanoak_CDS.fa.ndb
12_21_tanoak_CDS.fa.nhr
12_21_tanoak_CDS.fa.nin
12_21_tanoak_CDS.fa.not
12_21_tanoak_CDS.fa.nsq
12_21_tanoak_CDS.fa.ntf
12_21_tanoak_CDS.fa.nto
12_21_tanoak_aa.fa.pdb
12_21_tanoak_aa.fa.phr
12_21_tanoak_aa.fa.pin
12_21_tanoak_aa.fa.pot
12_21_tanoak_aa.fa.psq
12_21_tanoak_aa.fa.ptf
12_21_tanoak_aa.fa.pto
